/*
Nothing here - in a fully developed DX this would be picked up in the webpack flow and compiled, parsed accordingly.
The idea is here to only have styles responsible for the component itself reside with the component BEM/Atomic style

Makes things much more maintainable
*/
.widget__weather {
    width: 300px;
    text-align: left;
    margin: 0 auto;
}
